[tool.poetry]
name = "sophia-doc"
version = "0.1.2"
description = "A python package to automatically generate API documents for Python modules."
authors = ["st1020 <stone_1020@qq.com>"]
license = "MIT"
readme = "README.md"
keywords = ["sophia-doc", "documentation", "doc", "pydoc", "markdown"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Topic :: Documentation",
  "Topic :: Software Development",
  "Topic :: Software Development :: Documentation",
  "Topic :: Text Processing",
  "Topic :: Text Processing :: Markup",
  "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.8"
docstring-parser = "^0.15"

[tool.poetry.dev-dependencies]
black = "^22.10.0"
isort = "^5.10.0"

[tool.poetry.scripts]
sophia-doc = 'sophia_doc.__main__:cli'

[tool.black]
target-version = ["py38", "py39", "py310"]

[tool.isort]
profile = "black"
length_sort = true
skip_gitignore = true
force_sort_within_sections = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
